/* 
    Document   : chess_annotation.css
    Created on : 15-Jun-2013, 12:32:52 PM
    Author     : Shao Hang He
    Description:
        Purpose of the stylesheet follows.
    hahaha
*/

#chess_content
{
    position: relative;   
    width: 950px;
    height: 550px;
}



#chessgame {
    position:relative;
     width: 900px;
    height: 700px;
}

#chessgame_header{
    position:absolute;
    left:0px;
    top: 0px;
    margin-left:auto;
    margin-right:auto;
    padding: 20px;
    width:400px;
    height: 100px;
    word-wrap: break-word;   
    overflow: auto;
}

#chessgame_header span{
    background-color: inherit;
    padding: 0px;
    border: none;
}

#chessgame .movelist {
    position:absolute;
    left:400px;
    top: 0px;
    width: 400px;
    height: 500px;
	padding: 15px;
    word-wrap: break-word;   
    overflow: auto;
}

#chessgame .board {
    position:absolute;
    left:0px;
    top: 100px;
    width:300px;
    height: 300px;
    float: left;
}

#chessgame .controls
{
    position:absolute;
    right:0px;
    top: 0px;
    width:200px;
    float: right;
}

#chessgame .annot
{
    position:absolute;
    left:300px;
    top: 300px;
    width:300px;
    max-height: 300px;   
}
.ct-start
{
    width: 30px;
    height: 30px;
}
.ct-forward
{
    width: 30px;
    height: 30px;
}
.ct-back
{
    width: 30px;
    height: 30px;
}
.ct-end
{
    width: 30px;
    height: 30px;
}
.ct-play
{
    width: 30px;
    height: 30px;
}
.ct-stop
{
    width: 30px;
    height: 30px;
}